<ul class="nav justify-content-end">

  <li class="nav-item">
    <a class="nav-link" href="#"><button type="button" class="btn btn-outline-primary">
    Submit Question</button></a>
  </li>

  <li class="nav-item">
    <%= link_to 'Upvote', new_user_registration_path , class: "nav-link" %>
  </li>  

  <li class="nav-item">
    <%= link_to 'Join', new_user_registration_path , class: "nav-link" %>
  </li>

  <li class="nav-item">
  <%= link_to 'Login', user_session_path , class: "nav-link" %>
  </li>

</ul>



