// html {
//     height: 100%;
//  }
 
//  body {
//     min-height: 100%;
//  }

.nav {
    height: 50px;
    line-height: 50px;
}

.container {
    // margin: 0 auto;
    margin-top: 50px;
}

.row {

}

tr, th, td {
    padding: 10px 20px 10px 15px;
}

