// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
    
}

.q {
    margin: 0 auto;
    color: #4c4c4c;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

.row {
    width: 100%;
    align-items: center;
    text-align: center;
}

.col-ans-1 {
    width: 100%;
    background-color: red;
}

.col-ans-2 {
    width: 100%;
}

#next {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 65px;
    color: black;
    text-decoration: none;
}

.ans-1 {
    // padding: 100px;
    height: 320px;
    font-size: 40px;
    color: white;
    border: 5px solid red;
    width: 100%;
    background-color: rgb(186, 16, 16);
    padding: 20px;
    cursor: pointer;
}

.ans-2 {
    // padding: 100px;
    height: 320px;
    font-size: 40px;
    color: white;
    border: 5px solid dodgerblue;
    width: 100%;
    background-color: #0068ba;
    padding: 20px;
    cursor: pointer;
}

#a-votes {
    font-size: 16px;
}

#percentage {
    font-size: 70px;
}