<div class="container">
<h1>Upvote</h1>
<p> Vote questions into the database. Each question requires 10 votes.</p>
<hr>

<table class="table table-hover">

    <tr><%= react_component("Upvote", { votees: @qs, max_votes: @max_votes }) %> </tr>

</table>

</div>